body {
	padding-top: 20px;
}

.dropdown-content {
	z-index: 50; // fix dropdown below button
}

#form-block {
	.card-content {
		display: inline-block;
	}
}

.stats {

	text-align: center ;

	&-item {
		margin-right: 20px;
		margin-left: 20px;
		color: #c20c18;
	}

}